* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
   
    /* align-items: center;  
    display: flex;
    justify-content: center; */
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}



.calculator-section-1 {
 width: 100%;
    align-items: center;  
    display: flex;
    justify-content: center;
 }



.calculator-section-1  #calculator{
   margin-top: 20px ;

}



#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(4, 0%, 15%) ;
    border-radius: 15px;
    max-width: 400px;
    overflow: hidden;
    height: 95vh;
    width: 100%;

}
button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);

}
button:active{
    background-color: hsl(0, 0%, 50%);

}

#display{
    width: 100%;
    padding: 10px;
    font-size: 3rem;
    text-align: left;
    border: none;
    background-color:hsl(0, 0%, 20%);
    color: white;
}
.operator-btn {
    background-color: hsl(35, 100%, 55%);
}
.operator-btn:hover {
    background-color: hsl(35, 100%, 65%);
}
.operator-btn:active {
    background-color: hsl(35, 100%, 75%);
}


/* ...................................................................... */


.calculator-section-2 {
    margin-top: 20px ;
    width: 100%;
    height: 80vh;
    background: gray;


    
           align-items: center;  
           display: flex;
           justify-content: center;
       


 }

 .calculator-section-2  .main-box {

    width: 25%;
    padding: 80px 30px 40px;
    background: white;
 }
 
 .calculator-section-2  .main-box  #calculator{
 
 
 }

 .calculator-section-2  .main-box   .btn{
    width: 10%;
    margin: 10px 5px;
 background: rgba(128, 128, 128, 0.295);
 text-align: center;
 font-weight: 500;
 border: 1px solid rgba(128, 128, 128, 0.295) ;
 border-radius: none;
 border-radius: 5px !important;
 }

 .calculator-section-2  .main-box   .btn:hover {

    background: rgba(255, 0, 0, 0.753)
    
  
 }



 .calculator-section-2  .main-box  .display-part{
text-align: center;
margin-bottom: 20px;
 }





 .calculator-section-2  .main-box  .display-part input{

    width: 100%;
    padding: 10px 0px;
 }